body {
  text-align: left;
  font-family: 'Segoe UI', sans-serif;
  margin: 40px;
  background-color: #f4f4f4;
}

h1 {
  color: #333;
}

a {
  color: #007acc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

p {
      color: #666;
}

footer {
      margin-top: 50px;
      font-size: 0.9em;
      color: #aaa;
    }
    
.haiku {
      display: flex;
      justify-content: center; /* horizontal */
      align-items: center;     /* vertical */
      text-align: center;
      font-size: 1.5em;
      max-width: 80%;
    }
    
.profile {
  display: flex;
  justify-content: center; /* horizontal */
  align-items: center;     /* vertical */
}

.profile img {
  max-width: 50%;
  height: auto;
  border-radius: 50%;
  object-fit: cover;
  }
